@import url('./animations.css');


#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

#file{
    position: absolute;
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;
}

#animation-logo{
    animation: load 1s infinite alternate;
}

#theme{
    color: #448AFF;
}

#theme:hover{
    cursor: pointer;
    border-bottom: 2px solid #448AFF;
}

#newsImg{
    height: 500px;
    width: 700px;
}


#city{
    color: #448AFF;
}
#city:hover{
    cursor: pointer;
    border-bottom: 1px solid #448AFF;	
}








@media screen and (max-width: 830px){
    #text{
        height: 90px;
    }
}

